.classpath
.project
dist
target
*iml
*.ipr
*.iws
*.tar.gz
*.swp
*.swo
.classpath
.project
.settings/
**/.classpath
**/.project
**/.settings/
.settings/*
*.jar
**/bin/
**/test-output/
**/.idea
.idea
**/dependency-reduced-pom.xml

# target dirs
camus-api/target/
camus-etl-kafka/target/
camus-example/target/
camus-schema-registry/target/
