<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
                     debug="false">

 <!-- APPENDER: console -->
 <appender name="console" class="org.apache.log4j.ConsoleAppender">
  <layout class="org.apache.log4j.PatternLayout">
   <param name="ConversionPattern" value="[%c{1}] - %m%n" />
  </layout>
 </appender>

 <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
  <param name="file" value="log.out"/>
  <param name="immediateFlush" value="true"/>
  <param name="threshold" value="debug"/>
  <param name="DatePattern" value="'.'yyyy-MM-dd" />
  <layout class="org.apache.log4j.PatternLayout">
   <param name="conversionPattern" value="%d [%c{1}] - %m%n"/>
  </layout>
 </appender>

 <logger name="azkaban">
  <level value="ERROR" />
  <appender-ref ref="console" />
 </logger>

 <logger name="kafka" >
  <level value="WARN" />
 </logger>

 <logger name="com" >
  <level value="INFO" />
 </logger>

 <root>
  <level value="INFO" />
  <appender-ref ref="console" />
  <appender-ref ref="FILE" />
 </root>

</log4j:configuration>
